@import "../css/variables";

@mixin pullout {
	float: right;
	margin-right: ($article-width - $content-width) * -1;
	width: $article-width - $content-width - $gutter;
	clear: right;
}

@mixin footnote-text {
	@include pullout();
	box-sizing: border-box;

	overflow-wrap: break-word;
	word-wrap: break-word;
	hyphens: auto;

	font-size: 0.7492rem;
	margin-bottom: 0.7492rem * 0.5;
	color: #666;
}

@mixin footnote($content, $counter: footnote, $prefix: '') {
	counter-increment: $counter;
	@media screen and (min-width: $main-width) {
		&::after {
			content: counter($counter, decimal);
			font-variant-position: super;
			font-feature-settings: 'sups';
		}

		&::before {
			@include footnote-text();
			content: $prefix counter($counter, decimal) '\A0\00B7\A0' $content;
		}
	}
}

%markdown-styles {
	:global {
		// headings
		h1 { margin-top: $line-height * 2; }
		h2 { margin-top: $line-height * 2; }

		// lists
		ul, ol {
			margin-left: 4ch;
			margin-bottom: $line-height * 1;
		}
		ul { list-style: square; }
		ol { list-style: decimal; }

		// tables
		table {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: $line-height * 1;
			font-feature-settings: 'tnum';
			border-collapse: collapse;
			border-spacing: 3ch 0.5ch;
			line-height: 1;

			thead, tbody {
				td, th { padding: 0.75em 1.75ch; }
			}

			thead th {
				padding-bottom: 0.5em;
				font-family: 'Equity Caps B', serif;
				font-feature-settings: "c2sc", "smcp";
				&:not(:empty) {
					$gap: 1.5ch;
					box-shadow: 0 $gap 0  calc(0.5px - #{$gap}) currentColor;
				}
			}

			tbody > tr:nth-child(3n):not(:last-child):not(:empty) {
				th, td { border-bottom: 0.25px dotted #999; }
			}

			tbody th {
				font-weight: bold;
			}

			tbody td {
				text-align: center;
				&:empty::before {
					content: '\2014';
					color: rgba(black, 0.25);
				}
			}

			tbody tr:last-child {
				td, th {
					border-bottom: none;
				}
			}
		}

		// asides
		aside {
			display: none;
			@include footnote-text();

			> p:first-child::before {
				content: '\203B ';
			}

			@media screen and (min-width: $main-width) {
				display: block;
			}
		}

		aside table {
			margin-left: 2ch;
			width: 50%;
			max-width: $article-width - $content-width - $gutter;
		}

		// figures
		figure {
			margin-bottom: $line-height;

			&:hover > figcaption {
				opacity: 1;
			}

			> figcaption {
				display: none;
				@include footnote-text();
				padding-left: 1.25ch;
				text-indent: -1.25ch;

				@media screen and (min-width: $main-width) {
					display: block;
					counter-increment: figures;
					&::before {
						content: 'Figure\00A0' counter(figures) '\0020\00B7\0020';
					}
				}

				opacity: 0.50;
				transition: opacity 500ms;
			}

			> img {
				max-width: $content-width;
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
		}

		:not(figure) pre {
			margin-bottom:  $line-height;
		}

		:not(q) .sic::after {
			content: '(sic)';
			font-size: 0.65rem;
			vertical-align: super;
		}

		q .sic::after {
			content: '[sic]';
		}


		a:not(.footnote-ref):not(.footnote-backref):not(.no-ref):link {
			@include footnote(attr(href));

			&::before {
				opacity: 0.50;
				transition: opacity 500ms;
				padding-left: 1.25ch;
				text-indent: -1.25ch;
			}
		}

		p:hover, ul:hover, ol:hover {
			a:not(.footnote-ref):not(.footnote-backref):link::before {
				opacity: 1;
			}
		}

		abbr {
			@include footnote(attr(title));
			text-decoration: none;

			&::before {
				opacity: 0.50;
				transition: opacity 500ms;
				padding-left: 1.25ch;
				text-indent: -1.25ch;
			}
		}

		p:hover abbr::before {
			opacity: 1;
		}
	}
}

.article {
	@extend %primary;
	@extend %primary--full-height;

	h1 { margin-top: $line-height * 3; }

	// Decorate Tombstone
	&::after {
		max-width: $content-width;
		clear: both;
		content: '\220E';
		text-align: right;
		display: block;
		margin-top: -$line-height;
		margin-bottom: $line-height;
		margin-right: 1ch;

		@media print {
			margin-bottom: 0;
		}
	}
}

.byline {
	line-height: $line-height;
	font-size: 0.7492rem;
	$yank: 2rem;
	margin-left: 3ch;
	margin-bottom: $line-height * 1;
}

.tags {
	margin: 0;
	list-style: none;
	display: inline;
}

.tag {
	display: inline;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-transform: uppercase;
}

.content {
	@extend %markdown-styles;
	position: relative;
	max-width: $content-width;
	counter-reset: footnote figures;
	margin-bottom: $line-height;

	@media print {
		max-width: unset;
	}
}
