---
import { getCollection } from 'astro:content';
import Page from '@layouts/page.astro';
import LastUpdated from '../../components/LastUpdated.astro';

const TILs = (await getCollection('TILs')).toSorted(
  ({ data: a }, { data: b }) => {
    const dSum = a.summary.localeCompare(b.summary);
    if (dSum !== 0) return dSum;
    return a.when.getTime() - b.when.getTime();
  },
);
---

<Page title="Today I Learned" description="Today I Learned">
  <h1><code>/til</code></h1>
  <p>
    A collection of concise write-ups on small things I learn day-to-day across
    a variety of <em>languages</em>, <em>technologies</em>, and <em>domains</em
    >. These are things that don't really warrant a full blog post. Inspired by <a
      href="https://github.com/jbranchaud/til?tab=readme-ov-file#readme"
      >github.com<wbr />/jbranchaud<wbr />/til</a
    >.
  </p>
  <p>
    {TILs.length.toLocaleString()}
    <abbr title="Today I Learned">TIL</abbr>s and counting&hellip;
  </p>

  <ol class="TILs">
    {
      TILs.map((it) => (
        <li>
          <a href={`/til/${it.slug}`} set:html={it.data.summary} />
        </li>
      ))
    }
  </ol>

  <hr />
  <LastUpdated when="2024-08-10" />
</Page>
<style>
  .TILs {
    list-style: disc;
    padding-inline-start: 2.5ch;
  }
</style>
