---
import { blogSorting } from "../utils/blogSorting";
import { getCollection } from 'astro:content';
import Page from "@layouts/page.astro";
import BlogItem from "../components/BlogItem.astro";

const allBlogPosts =
  (await getCollection(
    'blog',
    ({ data }) => (import.meta.env.PROD) ? data.pubDate !== undefined : true,
  ))
  .sort(blogSorting);
---
<Page title="Blog">
    <h1>All Posts</h1>
    <ul class="posts">
        {allBlogPosts.map((blog) => <BlogItem blog={blog} />)}
    </ul>
</Page>

<style>
    h1 {
        margin-bottom: var(--line-height);
    }
</style>