@import '../css/variables';

.blog {
  @extend %primary;
}

.item {
  &:first-child {
    margin-top: $line-height * 2;
  }

  &:not(:last-child) {
    border-bottom: 0.5px dotted #ddd;
    margin-bottom: $line-height;
  }

  @media screen and (min-width: $main-width) {
    padding-left: ($article-width - $content-width) / 2;
    padding-right: ($article-width - $content-width) / 2;
  }
}

.when {
  @extend %-f--small;
  font-feature-settings: 'onum';
  font-variant-numeric: oldstyle-nums;
  padding-left: 0.7492rem * 1.5;
  padding-right: 0.7492rem * 1.5;
}

.title {
  margin-bottom: 0;
}

.excerpt {
  margin-top: $line-height;
  margin-bottom: 0;
  text-indent: 0.7492rem * 1.5;
}

.ttr {
  @extend %-f--small;
  font-feature-settings: 'onum';
  font-variant-numeric: oldstyle-nums;
  color: #999;
  line-height: $line-height * 2;
  text-align: right;

  a::after {
    content: ' \00bb';
  }
}

