---
import { getCollection } from 'astro:content';
import Page from "@layouts/page.astro";
import BlogItem from "../components/BlogItem.astro";

const allBlogPosts =
  (await getCollection(
    'blog',
    ({ data }) => (import.meta.env.PROD) ? data.pubDate !== undefined : true,
  ))
  .sort((a, b) => {
      const aPubDate = a.data.pubDate;
      const bPubDate = b.data.pubDate;
      if (!aPubDate && !bPubDate) return 0;
      if (!aPubDate) return 1;
      if (!bPubDate) return -1;
      return bPubDate.getTime() - aPubDate.getTime();
  });
---
<Page title="Blog">
    <h1>All Posts</h1>
    <ul class="posts">
        {allBlogPosts.map((blog) => <BlogItem blog={blog} />)}
    </ul>
</Page>

<style>
    h1 {
        margin-bottom: var(--line-height);
    }
</style>