---
import { getCollection } from 'astro:content';
import Page from "@layouts/page.astro";
import BlogItem from "../components/BlogItem.astro";
import { blogSorting } from "../utils/blogSorting";

const max = 5;
const allBlogPosts = (await getCollection(
		'blog',
		({ data }) => import.meta.env.PROD ? data.pubDate !== undefined : true,
	))
	.sort(blogSorting);
const showMore = allBlogPosts.length > max;
---
<Page>
	<h1>About me…</h1>
	<section>
		<p>
			I am a <em>developer</em> & <em>designer</em> with a focus in
			front-end architecture and interaction design. My interests range
			from UI-design to 80's vintage computers (IBM PC<em>jr</em>, Apple //e, C64) to
			embedded computing, video codecs, CRTs and pixel-art.
		</p>
		<p>
			Until <time datetime="2023-11-15">late-2023</time>, I was the <em>Frontend Engineering
			Lead</em> at <a href="https://formant.io">Formant</a> where I
			developed prototypes, tools, and designs for the future of robotic fleet{" "}
			monitoring and tele-operation. I love getting my hands dirty, learning new things
			and exploring new domains. To me, there isn't a line between engineering and design;
			I'm equally comfortable in <a href="https://www.sketch.com/">Sketch</a> as
			I'm in <a href="https://www.sublimetext.com/">Sublime Text</a>.
		</p>
		<p>
			You can find me doodling on <a href="https://codepen.io/32bitkid">CodePen</a>,
			helping other engineers on <a href="https://stackoverflow.com/users/373378">StackOverflow</a>,
			pushing code to <a href="https://github.com/32bitkid">GitHub</a>,
			or posting on <a href="https://twitter.com/32bitkid">Twitter</a> about
			stuff I think is cool.
		</p>
		<p class="get-in-touch">
			&hellip;to get in touch, e-mail me at <a href="mailto:j@holmes.codes">j@holmes.codes</a>
		</p>
	</section>

	<h2>Recent Thoughts…</h2>
	<section>
		<ul class="posts">
			{allBlogPosts
				.slice(0, max)
				.map((blog, i) => <BlogItem blog={blog} showSummary={i < 3} highlight={i < 1} />)
			}
		</ul>
		{showMore && <p class="more"><a  href="/blog">more posts</a></p> }
	</section>

	<h2>Code &amp; Links…</h2>
	<section>
		<ul class="projects">
			<li class="project">
				<dl>
					<dt class="project__link"><a href="https://github.com/32bitkid/sci.js">github.com/32bitkid/sci.js</a></dt>
					<dd class="project__desc">JavaScript library and data‑structures for parsing and manipulating <code>SCI0</code> resources from classic <em>Sierra On&#x2011;Line</em> adventure games.</dd>
				</dl>
			</li>
			<li class="project">
				<dl>
					<dt class="project__link">
						<a href='https://codepen.io/32bitkid/pen/BgwwgG/'>CSS 3&half;&Prime; Floppy Diskettes Sketch</a>
					</dt>
					<dd>
						<iframe height="400" style={{width: "100%"}} title="Quest For Glory II Disks"
										src="//codepen.io/32bitkid/embed/preview/BgwwgG/?height=300&theme-id=light&default-tab=result"
										allowtransparency="true" allowfullscreen={true}>
							See the Pen <a href='https://codepen.io/32bitkid/pen/BgwwgG/'>Quest For Glory II Disks</a> by James Holmes
							(<a href='https://codepen.io/32bitkid'>@32bitkid</a>) on <a href='https://codepen.io'>CodePen</a>.
						</iframe>
					</dd>
				</dl>

			</li>
			<li class="project">
				<dl>
					<dt class="project__link"><a href="https://github.com/32bitkid/mpeg">github.com/32bitkid/mpeg</a></dt>
					<dd class="project__desc">An experimental/educational pure&#x2011;Go MPEG&#x2011;2 decoder.</dd>
				</dl>
			</li>
			<li class="project">
				<dl>
					<dt class="project__link"><a href="https://github.com/32bitkid/bitreader">github.com/32bitkid/bitreader</a></dt>
					<dd class="project__desc">Provides basic interfaces to read and traverse an io.Reader as a stream of bits, rather than a stream of bytes.</dd>
				</dl>
			</li>
			<li class="project">
				<dl>
					<dt class="project__link">
						<a href='https://codepen.io/32bitkid/pen/LKZzMR/'>60% Keyboard Sketch</a>
					</dt>
					<dd>
						<iframe height="400" style={{width: "100%"}} title="Interactive 60% Keyboard"
								src="//codepen.io/32bitkid/embed/preview/LKZzMR/?height=300&theme-id=light&default-tab=result"
								allowtransparency="true" allowfullscreen={true}>
							See the Pen <a href='https://codepen.io/32bitkid/pen/LKZzMR/'>Interactive 60% Keyboard</a> by James Holmes
							(<a href='https://codepen.io/32bitkid'>@32bitkid</a>) on <a href='https://codepen.io'>CodePen</a>.
						</iframe>
					</dd>
				</dl>
			</li>
			<li class="project">
				<dl>
					<dt class="project__link"><a href="https://github.com/32bitkid/sci">github.com/32bitkid/sci</a></dt>
					<dd class="project__desc">Go library and data‑structures for parsing and manipulating <code>SCI0</code> resources from classic <em>Sierra On&#x2011;Line</em> adventure games.</dd>
				</dl>
			</li>
			<li class="project">
				<dl>
					<dt class="project__link">
						<a href='https://codepen.io/32bitkid/pen/agmYew/'>Tribute to a <code>BASIC</code> classic</a>
					</dt>
					<dd>
						<iframe height="400" style={{width: "100%"}} title="10 PRINT CHR$(205.5+RND(1)); : GOTO 10"
								src="//codepen.io/32bitkid/embed/preview/agmYew/?height=300&theme-id=light&default-tab=result"
								allowtransparency="true" allowfullscreen={true}>
							See the Pen <a href='https://codepen.io/32bitkid/pen/agmYew/'>10 PRINT CHR$(205.5+RND(1)); : GOTO 10</a> by
							James Holmes
							(<a href='https://codepen.io/32bitkid'>@32bitkid</a>) on <a href='https://codepen.io'>CodePen</a>.
						</iframe>
					</dd>
				</dl>
			</li>
		</ul>
	</section>
</Page>

<style>
	h1 {
		margin-bottom: var(--line-height);
	}

	p.more {
		text-align: center;
		padding-inline-start: 2ch;
	}

	p.more a::after {
		content: " \2192";
	}

	.posts {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem 2rem;
		margin-block-end: calc(var(--line-height) * 1);
	}


	.project {
		margin-bottom: calc(var(--line-height) * 2);
	}

	.project__link {
		font-size: var(--f-large);
		line-height: var(--line-height);
		margin-bottom: calc(var(--line-height) * 0.5);
	}

	.project__meta, .project__desc {
		padding-left: 1rem;
	}

	.projects iframe {
		border: 0;
		overflow: hidden;
	}

</style>
