@import "../css/variables";

.resume {
  @extend %primary;

  h3 {
    margin-bottom: $line-height * 0.25;
    color: #ccc;
    display: flex;
    align-items: baseline;
    &::after {
      margin-left: 0.5ch;
      margin-right: 0.5ch;
      flex-grow: 1;
      content: '';
      border-top: 1px dotted #ddd;
    }
  }

  @media print {
    padding-left: 0;
    padding-right: 0;
    color: black;
  }

  &::after {
    content: '\220E';
    text-align: right;
    display: block;
    margin-bottom: $line-height;
    @media print {
      margin-bottom: 0;
    }
  }
}

.heading {
  display: grid;
  grid-template-columns: auto 10rem;
  margin-top: $line-height;
  margin-bottom: $line-height * 1;
  padding-bottom: calc(#{$line-height * 1} - 1px);
  border-bottom: 1px dotted #ddd;

  hgroup {
    h1 {
      @extend %-f--epic;
      font-weight: bold;
      margin-left: 0.5ch;
      text-indent: -0.5ch;
      letter-spacing: -0.02em;
    }
    h2 {
      @extend %-f--large;
      font-family: "Equity Caps B", serif;
      font-feature-settings: "c2sc", "smcp";
      margin-top: -0.2rem;
      margin-bottom: 0;
      text-indent: 3ch;
    }
  }
}

.contacts {
  text-align: right;
  font-feature-settings: 'onum';
  font-variant-numeric: oldstyle-nums;
  @extend %-f--small;
  line-height: 1.45;
}

.aboutMe {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: $line-height * 1;
  text-align: justify;
  max-width: $content-width;

  @media print {
    margin-left: unset;
    margin-right: unset;
  }
}

.details {
  margin-bottom: $line-height;

  @media screen and (min-width: $content-width) {
    display: grid;
    grid-template-columns: 14rem 1fr;
    grid-template-areas:
            "EDU    EXP"
            "SKILLS EXP"
            "SFWR   EXP"
            /*--------*/
            ".      EXP";

    grid-gap: 0 4ch;
  }

  @media print {
    display: grid;
    grid-template-columns: 1.75in 1fr;
    grid-template-areas:
            "EDU    EXP"
            "SKILLS EXP"
            "SFWR   EXP"
            /*--------*/
            ".      EXP";
    grid-gap: 0 0.125in;
  }
}


.workExperience {
  grid-area: EXP;

  .exp {
    margin-bottom: $line-height * 2;
    @media print {
      margin-bottom: $line-height * 1.25;
    }

    &:last-child { margin-bottom: 0; }

    &__heading {
      display: block;
      break-after: avoid;
      break-inside: avoid;
    }

    &__title {
      @extend %-f--large;
      font-family: "Equity Caps B", serif;
      font-feature-settings: "c2sc", "smcp";
    }

    &__dates {
      @extend %-f--small;
      font-feature-settings: 'onum';
      font-variant-numeric: oldstyle-nums;
      text-indent: 1rem;
      margin-top: -0.25rem;
      margin-bottom: $line-height / 4;
    }

    &__desc {
      break-before: avoid;
      break-after: avoid;
    }

    &__desc > p { margin-bottom: $line-height / 2; }

    &__desc > p:last-child {
      margin-bottom: $line-height * 1 / 3;
    }

    &__stack {
      @extend %-f--small;
      font-feature-settings: 'onum';
      font-variant-numeric: oldstyle-nums;
      margin-left: 1.5rem;
      margin-right: 0.5rem;
      text-indent: -0.5rem;
      break-before: avoid;

      &::before {
        font-weight: bold;
      }
    }

    &__tech {
      display: inline;

      &__1 { opacity: 0.4; }
      &__2 { opacity: 0.6; }
      &__3 { opacity: 0.8; }
      &__4 { opacity: 1.0; }
      &__5 { opacity: 1.0; font-weight: bold; }

      &:not(:first-child)::before {
        content: ', ';
      }

      &:last-child::before {
        content: ',\00A0';
      }
    }

    @media print {
      $count: 9;
      &__tech:nth-child(n + #{$count}) {
        &::after { content: '\2026'; }
        &:last-child::after { content: none; }
      }

      &__tech:nth-child(n + #{$count + 1}) {
        display: none;
      }
    }
  }
}

.education { grid-area: EDU; }
.skills { grid-area: SKILLS; }
.software { grid-area: SFWR; }

.school {
  &__name {
    font-weight: bold;
  }

  &__program {
    font-family: "Equity Caps B", serif;
    font-feature-settings: "c2sc", "smcp";
    margin-left: 1rem;
    text-indent: -1rem;
  }

  &__dates {
    @extend %-f--small;
    font-feature-settings: 'onum';
    font-variant-numeric: oldstyle-nums;
    text-indent: 1rem;
    margin-top: -0.25rem;
  }
}

.education, .skills, .software {
  margin-bottom: $line-height * 0.75;
}

.skills ul, .software ul {
  columns: 3 1ch;

  @media screen and (min-width: $content-width) {
    columns: 2 1ch;
    padding-left: 0.25ch;
    padding-right: 0.75ch;
  }
  @media print {
    columns: 2 1ch;
    padding-left: 0.25ch;
    padding-right: 0.75ch;
  }
}
