---
import Page from '@layouts/page.astro';
import { Sci0Renderer } from '@components/react/sci0-renderer';

import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const sci0Pics = await getCollection('sci0pics');
  return sci0Pics.map((it) => ({
    params: { slug: `${it.data.title}/pic/${it.data.pic}` },
    props: {
      content: it.data.content.replace(/\s/g, ''),
      compression: it.data.compression,
      engine: it.data.engine,
      pic: it.data.pic,
    },
  }));
}

const { content, compression, engine, pic } = Astro.props;
---

<Page>
  <h1>Betrayed Alliance (2023): PIC.{pic.toString(10).padStart(3, '0')}</h1>
  <Sci0Renderer
    client:load
    compression={compression as 0 | 1 | 2}
    data={content}
    engine={engine}
  />
</Page>
<style is:global>
  label {
    font-family: 'Equity Caps B', serif;
    font-feature-settings: 'c2sc', 'smcp', 'onum';
    display: inline-block;
    min-width: 12ch;
  }

  #canvas {
    display: block;
    width: 100%;
    margin-left: 0;
    aspect-ratio: 80 / 57;
    border: 1em solid black;
    background-color: #fff;
    box-sizing: border-box;

    transition:
      width 250ms,
      margin-left 250ms;
  }

  @media print {
    #canvas {
      width: 100%;
      margin-left: 0;
    }
  }

  @media screen and (min-width: 65rem) {
    #canvas {
      width: calc(100% + 20rem);
      margin-left: -10rem;
    }
  }

  @media screen and (min-width: 100rem) {
    #canvas {
      width: calc(100% + 30rem);
      margin-left: -15rem;
    }
  }
</style>
