---
import Date from "./Date.astro";
const { blog, highlight = false, showSummary = false } = Astro.props;
const { summary } = blog.data;

const date = blog.data.authorDate ?? blog.data.pubDate;
const isDraft = blog.data.pubDate === undefined;
---
<li class:list={{ draft: isDraft, highlight, showSummary }}>
  {isDraft && <div class="draft-marker">Draft</div>}
  <a href={`/${blog.slug}`}>{blog.data.title}</a>
  {date && <div class="byline"><Date date={date}/></div>}
  {showSummary && <p>{summary}</p>}
</li>


<style>

    li.draft {
        opacity: 0.5;
    }

    .byline {
        color: #999;
        margin-bottom: calc(var(--line-height) * 0.25);
        font-size: var(--f-small);
        line-height: 1;
        text-indent: 1rem;
    }

    .draft-marker {
        display: inline-block;
        font-family: "Equity Caps B", serif;
        letter-spacing: -0.04em;
        font-feature-settings: "c2sc", "smcp", "onum";
        font-size: var(--f-x-small);
        line-height: 1;
        border: 1px solid currentColor;
        margin-inline-end: 1ch;
        border-radius: 0.25rem;
        padding: 1px 4px;
        color: var(--colors-primary);
        vertical-align: 0.125rem;
    }

    p {
        text-align: justify;
        font-size: var(--f-small);
        line-height: 1.414;
        margin-block-end: 0;
        margin-inline: 1rem;
    }

    li.highlight a {
        font-size: var(--f-large);
    }

    li.highlight .byline {
        font-size: var(--f-small);
    }

</style>