---
import Date from './Date.astro';
const { blog, showSummary = true } = Astro.props;
const { summary } = blog.data;

const date = blog.data.authorDate ?? blog.data.pubDate;
const isDraft = blog.data.pubDate === undefined;
---

<li class:list={{ draft: isDraft, showSummary }}>
  {
    date ? (
      <Date class="byline" date={date} />
    ) : (
      <div class="byline">
        {isDraft && <div class="draft-marker">Draft</div>}
      </div>
    )
  }
  <div class="title">
    <a href={`/${blog.slug}`}>{blog.data.title}</a>
    {showSummary && <p class="summary">{summary}</p>}
  </div>
</li>

<style>
  li {
    display: contents;
  }

  li.draft > * {
    opacity: 0.75;
  }

  .title {
    align-self: baseline;
  }

  .byline {
    font-size: var(--f-small);
    line-height: 1;
    align-self: baseline;
    justify-self: right;
  }

  .summary {
    font-size: var(--f-small);
    margin-block-end: 0;
  }

  .draft-marker {
    display: inline-block;
    font-family: 'Equity Caps B', serif;
    letter-spacing: -0.04em;
    font-feature-settings: 'c2sc', 'smcp', 'onum';
    font-size: var(--f-x-small);
    line-height: 1;
    border: 1px solid currentColor;
    margin-inline-end: 1ch;
    border-radius: 0.25rem;
    padding: 1px 4px;
    color: var(--colors-primary);
    vertical-align: 0.125rem;
  }
</style>
