---
const { caption, centered = false, table = false, code = false } = Astro.props;
const figure = table !== true && code !== true;
---

<style>
  :global(article) {
    counter-reset: figure table code;
  }

  figure.figure > figcaption:not(:empty) {
    counter-increment: figure;
  }

  figure.figure > figcaption:not(:empty):before {
    content: 'Figure ' counter(figure) ': ';
  }

  figure.table > figcaption:not(:empty) {
    counter-increment: table;
  }

  figure.table > figcaption:not(:empty):before {
    content: 'Table ' counter(table) ': ';
  }

  figure.code > figcaption:not(:empty) {
    counter-increment: code;
  }

  figure.code > figcaption:not(:empty):before {
    content: 'Example Code ' counter(code) ': ';
  }

  figcaption {
    font-variant-numeric: oldstyle-nums;
    text-align: right;
    font-size: 0.7492rem;
    line-height: 1rlh;
  }

  div.centered {
    text-align: center;
  }

  main {
    display: flex;
    align-items: center;
  }

  main :last-child {
    flex-grow: 1;
  }
</style>

<figure class:list={{ figure, table, code }}>
  <main>
    <slot name="aside" />
    <div class:list={{ centered }}>
      <slot />
    </div>
  </main>
  <figcaption>
    <slot name="caption">{caption}</slot>
  </figcaption>
</figure>
