---
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="wrapper">
    <div id="copyright">
      <p>j.holmes.codes</p>
      <p>&copy; 2013&ndash;{currentYear} J. Holmes</p>
    </div>
  </div>
</footer>

<style>
  footer {
    border-top: 1px dotted #ddd;
    background-clip: content-box;
    background-image: linear-gradient(180deg, #ddd, #aaaab2);
    color: white;
    margin-block-start: var(--line-height);
  }

  .wrapper {
    box-sizing: border-box;
    max-width: var(--max-content);
    padding-block: 4ch;
    padding-inline: 1.5ch;
    margin-left: auto;
    margin-right: auto;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas: '-' '-' 'copyright';
  }

  #copyright {
    grid-area: copyright;
    font-size: var(--f-small);
    line-height: 1.2;
    text-align: center;
  }

  #copyright p {
    margin-block-end: 0;
  }

  #copyright p:nth-child(2) {
    font-variant-numeric: oldstyle-nums;
    font-variant-caps: small-caps;
  }

  @media screen and (min-width: 45rem) {
    .wrapper {
      grid-template-columns: 2fr 1fr 2fr;
      grid-template-rows: 1fr;
      grid-gap: 1.5ch;
      grid-template-areas: 'copyright - -';
      height: calc(var(--line-height) * 6);
    }

    #copyright {
      text-align: left;
      align-self: center;
    }
  }
</style>
