---
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="wrapper">
    <div id="copyright">
      &copy; 2013&ndash;{currentYear} J Holmes.
    </div>
  </div>
</footer>

<style>
  footer {
    margin-block-start: 1rlh;
  }

  .wrapper {
    color: #999;
    box-sizing: border-box;
    max-width: var(--max-content);
    padding-block: 4ch;
    padding-inline: 1.5ch;
    margin-left: auto;
    margin-right: auto;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-areas: '-' '-' 'copyright';
  }

  #copyright {
    grid-area: copyright;
    font-size: var(--f-small);
    line-height: 1;
    text-align: right;
    font-variant-numeric: oldstyle-nums;
    margin-block-end: 0;
  }

  #copyright p:last-child {
    font-variant-caps: small-caps;
  }
</style>
