---
interface Props {
  tags: string[];
  class?: string;
}

const { tags, class: className } = Astro.props;
---

<style>
  ul {
    margin: unset;
    padding: unset;
  }

  ul:empty::after {
    content: 'none';
    font-style: italic;
  }

  li {
    margin: unset;
    display: inline;

    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    padding: 0.2em 0.5ch;
    border-radius: 0.3em;
    white-space: normal;
    font-size: 0.85em;
  }
</style>
<ul class:list={[className]}>
  {
    // prettier-ignore
    tags.toSorted().flatMap((tag, idx, arr) => (
      <Fragment key={tag}><li>#{tag}</li>{arr.length - 1 !== idx ? ', ' : ''}</Fragment>
    ))
  }
</ul>
