---
const { tags } = Astro.props;
---

<style>
  ul {
    display: inline;
    margin: unset;
    padding: unset;
  }

  li {
    margin: unset;
    padding: unset;
    display: inline;
    font-weight: 400;
    letter-spacing: -0.04em;
    font-family: 'Equity Caps B', serif;
    text-transform: capitalize;
    font-feature-settings: 'smcp';
  }

  li:not(:last-of-type)::after {
    content: ', ';
  }
</style>
<ul>
  {
    [...tags].sort().flatMap((tag, idx, arr) => (
      <Fragment key={tag}>
        <li>{tag}</li>
      </Fragment>
    ))
  }
</ul>
