---
import Header from '@components/Header.astro';
import Meta from '../components/Meta.astro';
import Footer from '@components/Footer.astro';

import '@styles/reset.css';
import '@styles/font.css';
import '@styles/core.css';
---

<html lang="en">
  <head><Meta {...Astro.props} /></head>
  <body>
    <Header />
    <main><slot /></main>
    <Footer />
  </body>
</html>

<style>
  body {
    display: grid;
    min-height: calc(100vh - 1.5rlh);
    grid-template-rows: 1fr min-content;
    justify-items: stretch;
    align-items: stretch;
  }

  main {
    width: 100%;
    box-sizing: border-box;
    justify-self: center;
    max-width: var(--max-content);
    padding-inline: 1.5ch;
  }
</style>
